header {
  display: flex;
  padding: 0.5em 0.5em;
  background-color: #1A2930;
  /* background-color: #1D2731; */
}

.headerLink {
  text-shadow: none;
  background-image: none;
  text-decoration: none;
}

.headerName {
  display: flex;
  margin: 0.25em 3em;
  color: #C5C1C0;
  font-weight: 300;
  text-decoration: none;
}
